.títulos{
	text-align: center;
	font-family: 'Anton', sans-serif;
	font-size: 7vh;
	text-decoration: underline;
}

.center {
	margin-right: auto;
	margin-left: auto;
	padding: 10%;
}

.img_thum{
	height: 200px;
	width: 100%; 
	display: block;
}