@import 'home';
@import 'nosotros';
@import '~bootstrap/scss/bootstrap';


body {
	background: white;
	margin:0;
	padding:0;
}

.menu_blanco{
	color:white;
	font-family: 'Roboto', sans-serif;
	font-size:1rem;
}

.logo{
	width: 150px;
}
.menu{
	background-color: #008ccc;
}

.footer{
	padding: 2%;
	background-color: #008ccc;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size:1rem;
	div hr{
	background-color:white;
	}
	div i{
		color:white;
		font-size: 3rem;
		text-aling: center;
		padding: 1%;
	}
}

.email{
	color: #FAFAFA;
	font-style:oblique;
}
